body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
padding: 1rem;
margin: 1rem;
border: 2px;
border-color: black;
background-color: rgb(194, 200, 206);
}

.grid{
display: flex;
flex-wrap: wrap;
flex-direction: row;
}
.movie-box{
border: 2px;
border-color: red;


}

.home-poster{
  width: 10%;
  padding: 4px;
  margin: 2px;
}